crewai
crewai-tools
langchain-community
langchain
langchain-huggingface
pinecone
langchain-pinecone
sentence-transformers
python-dotenv
tavily-python
streamlit
fpdf2
streamlit-mic-recorder
groq
PyPDF2
supabase
psycopg2-binary

